# IDE / środowisko
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo

# Wirtualne środowiska
.venv/
env/
.ENV/
venv/
*.env

# Notebooki
*.ipynb_checkpoints/

# Dane i wyniki
*.csv
*.zip
*.h5
*.hdf5
*.npz
*.pkl
*.log

# Systemowe
.DS_Store
Thumbs.db

datasets/
predictions/
temp/
delete/
**/animation.gif
2.py
3.py
4.py
10.py
11.py
12.py
резерв_main.py
winds2.py
winds.py
Temperatura.py
read_predictions.py
main30_05_2025.py
get_list_files_from_dir.py
for_data.py
download_datasets.py
download_dataset_ERA5_2steps.py
download_dataset_ERA5.py
download_data_ERA5.py
